:root {
    --bodyGutter: 25px;
    --moduleGutter: 30px;
    --global-border-radius-xsmall: 5px;
    --global-border-radius-small: 9px;
    --global-border-radius-medium: 12px;
    --global-border-radius-large: 17px;
    --global-border-radius-xlarge: 24px
}

:root {
    --keyline-border-style: .5px solid var(--labelDivider);
    --z-unset: unset;
    --z-default: 1;
    --z-bubbles: 50;
    --z-gpu: 1001;
    --z-web-chrome: 9901;
    --z-contextual-menus: 9951;
    --z-modal: 10001;
    --global-transition-property: opacity;
    --global-transition-duration: .1s;
    --global-transition-timing-function: ease-in;
    --global-transition: var(--global-transition-property,opacity) var(--global-transition-duration,.1s) var(--global-transition-timing-function,ease-in);
    color-scheme: light dark;
    --systemRed: #ff3b30;
    --systemRed-vibrant: #f53126;
    --systemRed-default_IC: #d70015;
    --systemRed-vibrant_IC: #c20618;
    --systemOrange: #ff9500;
    --systemOrange-vibrant: #f58b00;
    --systemOrange-default_IC: #c93400;
    --systemOrange-vibrant_IC: #ad3a00;
    --systemYellow: #fc0;
    --systemYellow-vibrant: #f5c200;
    --systemYellow-default_IC: #a05a00;
    --systemYellow-vibrant_IC: #925100;
    --systemGreen: #28cd41;
    --systemGreen-vibrant: #1ec337;
    --systemGreen-default_IC: #007d1b;
    --systemGreen-vibrant_IC: #007018;
    --systemMint: #00c7be;
    --systemMint-vibrant: #00bdb4;
    --systemMint-default_IC: #0c817b;
    --systemMint-vibrant_IC: #0b7570;
    --systemTeal: #59adc4;
    --systemTeal-vibrant: #2ea7bd;
    --systemTeal-default_IC: #008299;
    --systemTeal-vibrant_IC: #00778c;
    --systemCyan: #55bef0;
    --systemCyan-vibrant: #41afdc;
    --systemCyan-default_IC: #0071a4;
    --systemCyan-vibrant_IC: #006796;
    --systemBlue: #007aff;
    --systemBlue-vibrant: #0070f5;
    --systemBlue-default_IC: #0040dd;
    --systemBlue-vibrant_IC: #0040dd;
    --systemBlue-rollover: #0045b7;
    --systemBlue-pressed: #005cd7;
    --systemBlue-deepPressed: #0045b7;
    --systemBlue-disabled: rgba(0,122,255,.35);
    --systemIndigo: #5856d6;
    --systemIndigo-vibrant: #5452cc;
    --systemIndigo-default_IC: #3634a3;
    --systemIndigo-vibrant_IC: #3634a3;
    --systemPurple: #af52de;
    --systemPurple-vibrant: #9f4bc9;
    --systemPurple-default_IC: #ad44ab;
    --systemPurple-vibrant_IC: #ad44ab;
    --systemPink: #ff2d55;
    --systemPink-vibrant: #f5234b;
    --systemPink-default_IC: #d30f45;
    --systemPink-vibrant_IC: #c11032;
    --systemBrown: #a2845e;
    --systemBrown-vibrant: #987a54;
    --systemBrown-default_IC: #7f6545;
    --systemBrown-vibrant_IC: #775d3b;
    --systemGray: #8e8e93;
    --systemGray-vibrant: #848489;
    --systemGray-default_IC: #69696e;
    --systemGray-vibrant_IC: #616165;
    --systemPrimary: rgba(0,0,0,.85);
    --systemPrimary-vibrant: #4c4c4c;
    --systemPrimary-onLight: rgba(0,0,0,.85);
    --systemPrimary-onDark: hsla(0,0%,100%,.85);
    --systemPrimary-default_IC: #000;
    --systemPrimary-vibrant_IC: #000;
    --systemPrimary-onLight_IC: #000;
    --systemPrimary-onDark_IC: #fff;
    --systemSecondary: rgba(0,0,0,.5);
    --systemSecondary-vibrant: grey;
    --systemSecondary-onLight: rgba(0,0,0,.5);
    --systemSecondary-onDark: hsla(0,0%,100%,.55);
    --systemSecondary-default_IC: rgba(0,0,0,.76);
    --systemSecondary-vibrant_IC: rgba(0,0,0,.76);
    --systemSecondary-onLight_IC: rgba(0,0,0,.76);
    --systemSecondary-onDark_IC: hsla(0,0%,100%,.7);
    --systemTertiary: rgba(0,0,0,.25);
    --systemTertiary-vibrant: #bfbfbf;
    --systemTertiary-onLight: rgba(0,0,0,.25);
    --systemTertiary-onDark: hsla(0,0%,100%,.25);
    --systemTertiary-default_IC: rgba(0,0,0,.56);
    --systemTertiary-vibrant_IC: rgba(0,0,0,.56);
    --systemTertiary-onLight_IC: rgba(0,0,0,.56);
    --systemTertiary-onDark_IC: hsla(0,0%,100%,.5);
    --systemQuaternary: rgba(0,0,0,.1);
    --systemQuaternary-vibrant: #e6e6e6;
    --systemQuaternary-onLight: rgba(0,0,0,.1);
    --systemQuaternary-onDark: hsla(0,0%,100%,.1);
    --systemQuaternary-default_IC: rgba(0,0,0,.35);
    --systemQuaternary-vibrant_IC: rgba(0,0,0,.35);
    --systemQuaternary-onLight_IC: rgba(0,0,0,.35);
    --systemQuaternary-onDark_IC: hsla(0,0%,100%,.3);
    --systemQuinary: rgba(0,0,0,.05);
    --systemQuinary-vibrant: #f2f2f2;
    --systemQuinary-onLight: rgba(0,0,0,.05);
    --systemQuinary-onDark: hsla(0,0%,100%,.05);
    --systemQuinary-default_IC: rgba(0,0,0,.1);
    --systemQuinary-vibrant_IC: rgba(0,0,0,.1);
    --systemQuinary-onLight_IC: rgba(0,0,0,.1);
    --systemQuinary-onDark_IC: hsla(0,0%,100%,.1);
    --systemGray2: #aeaeb2;
    --systemGray2-onLight: #aeaeb2;
    --systemGray2-onDark: #636366;
    --systemGray2-default_IC: #8e8e93;
    --systemGray2-onLight_IC: #8e8e93;
    --systemGray2-onDark_IC: #7c7c80;
    --systemGray3: #c7c7cc;
    --systemGray3-onLight: #c7c7cc;
    --systemGray3-onDark: #48484a;
    --systemGray3-default_IC: #aeaeb2;
    --systemGray3-onLight_IC: #aeaeb2;
    --systemGray3-onDark_IC: #545456;
    --systemGray4: #d1d1d6;
    --systemGray4-onLight: #d1d1d6;
    --systemGray4-onDark: #3a3a3c;
    --systemGray4-default_IC: #bcbcc0;
    --systemGray4-onLight_IC: #bcbcc0;
    --systemGray4-onDark_IC: #444446;
    --systemGray5: #e5e5ea;
    --systemGray5-onLight: #e5e5ea;
    --systemGray5-onDark: #2c2c2e;
    --systemGray5-default_IC: #d8d8dc;
    --systemGray5-onLight_IC: #d8d8dc;
    --systemGray5-onDark_IC: #363638;
    --systemGray6: #f2f2f7;
    --systemGray6-onLight: #f2f2f7;
    --systemGray6-onDark: #1c1c1e;
    --systemGray6-default_IC: #ebebf0;
    --systemGray6-onLight_IC: #ebebf0;
    --systemGray6-onDark_IC: #242426;
    --keyColor: #007aff;
    --keyColor-rgb: 0,122,255;
    --keyColor-default_IC: #0040dd;
    --keyColor-default_IC-rgb: 0,64,221;
    --keyColor-rollover: #0045b7;
    --keyColor-rollover-rgb: 0,69,183;
    --keyColor-pressed: #005cd7;
    --keyColor-pressed-rgb: 0,92,215;
    --systemStandardUltrathinMaterialSover: hsla(120,0%,96%,.36);
    --systemStandardUltrathinMaterialSover-inactive: #f0f0f0;
    --systemStandardUltrathinMaterialSover-default_IC: #d2d2d2;
    --systemStandardUltrathinMaterialSover-inactive_IC: #ececec;
    --systemStandardThinMaterialSover: hsla(0,0%,96%,.48);
    --systemStandardThinMaterialSover-inactive: #f0f0f0;
    --systemStandardThinMaterialSover-default_IC: #dcdcdc;
    --systemStandardThinMaterialSover-inactive_IC: #ececec;
    --systemStandardMediumMaterialSover: hsla(0,0%,96%,.6);
    --systemStandardMediumMaterialSover-inactive: #f0f0f0;
    --systemStandardMediumMaterialSover-default_IC: #e6e6e6;
    --systemStandardMediumMaterialSover-inactive_IC: #ececec;
    --systemStandardThickMaterialSover: hsla(120,0%,96%,.72);
    --systemStandardThickMaterialSover-inactive: #f0f0f0;
    --systemStandardThickMaterialSover-default_IC: #f0f0f0;
    --systemStandardThickMaterialSover-inactive_IC: #ececec;
    --systemStandardUltrathickMaterialSover: hsla(0,0%,96%,.84);
    --systemStandardUltrathickMaterialSover-inactive: #f0f0f0;
    --systemStandardUltrathickMaterialSover-default_IC: #fafafa;
    --systemStandardUltrathickMaterialSover-inactive_IC: #ececec;
    --systemHeaderMaterialSover: hsla(0,0%,100%,.8);
    --systemHeaderMaterialSover-default_IC: #fff;
    --systemToolbarTitlebarMaterialSover: hsla(0,0%,99%,.8);
    --systemToolbarTitlebarMaterialSover-inactive: #f0f0f0;
    --systemToolbarTitlebarMaterialSover-default_IC: #fff;
    --systemToolbarTitlebarMaterialSover-inactive_IC: #ececec;
    --labelDivider: rgba(0,0,0,.15);
    --vibrantDivider: rgba(60,60,67,.29);
    --pageBG: #fff;
    --shelfBG: rgba(0,0,0,.05);
    --genericJoeColor: #ebebeb;
    --fallbackMaterialBG: hsla(0,0%,100%,.97);
    --liveBadgePlatterBG: #ff5066;
    --cardHoverColor: hsla(240,3%,49%,.25);
    --contextMenuBorderColor: rgba(0,0,0,.15);
    --contextMenuTextColor: rgba(0,0,0,.85);
    --contextMenuOverrideTextColor: #ff3b30;
    --dialogShadowColor: rgba(0,0,0,.25);
    --footerBg: #f2f2f2;
    --opaqueShelfBG: #f2f2f2;
    --shelfLockupPlayHover: #69696e;
    --lockupHoverBGColor: rgba(51,51,51,.3);
    --lockupChinScrim: rgba(0,0,0,.2);
    --mobileNavigationBG: #fff;
    --miniPlayerBackground: hsla(0,0%,100%,.9);
    --miniPlayerBackground-default_IC: #fafafa;
    --playerBackgroundFallback: hsla(0,0%,100%,.97);
    --playerBackgroundFallback-default_IC: #fafafa;
    --playerBackground: hsla(0,0%,100%,.88);
    --playerBackground-default_IC: #fafafa;
    --navSidebarBG: rgba(60,60,67,.03);
    --navSidebarBG-default_IC: #fafafa;
    --navSidebarSelectedState: rgba(60,60,67,.1);
    --searchBoxIconFill: rgba(0,0,0,.65);
    --bannerDarkGray: #444;
    --dropdownBackground: #575757;
    --dropdownLightGray: #707070;
    --dropdownLightGrayIcon: #999;
    --dropdownActiveOutlineColor: #06c;
    --dropdownActiveOutlineColorShadow: rgba(0,102,204,.6);
    --radiosityShadowColor: rgba(0,0,0,.1);
    --searchBarBorderColor: rgba(0,0,0,.15);
    --modalScrimColor: rgba(0,0,0,.45);
    --segmentedControlBG: hsla(240,4%,48%,.12);
    --segmentedControlBG-default_IC: rgba(0,0,0,.2);
    --segmentedControlSelectedText: rgba(0,0,0,.85);
    --segmentedControlSelectedText-default_IC: #000;
    --segmentedControlSelectedBG: #fff;
    --segmentedControlActiveBG: hsla(0,0%,100%,.7);
    --segmentedControlActiveBG-default_IC: #d9d9d9;
    --segmentedControlSelectedShadow1: rgba(0,0,0,.12);
    --segmentedControlSelectedShadow2: rgba(0,0,0,.04);
    --segmentedControlSelectedBorder: rgba(0,0,0,.15);
    --modalCloseButtonBGColor: #e8e8ed;
    --modalCloseButtonBGColor-rollover: #ececf0;
    --modalCloseButtonBGColor-pressed: #dfdfe4;
    --pageBg: #f5f5f7;
    --pageBg-rgb: 245,245,247
}

@media (prefers-color-scheme: dark) {
    :root {
        --systemRed:#ff453a;
        --systemRed-vibrant: #ff4f44;
        --systemRed-default_IC: #ff6961;
        --systemRed-vibrant_IC: #ff4136;
        --systemOrange: #ff9f0a;
        --systemOrange-vibrant: #ffa914;
        --systemOrange-default_IC: #ffb340;
        --systemOrange-vibrant_IC: #ffb340;
        --systemYellow: #ffd60a;
        --systemYellow-vibrant: #ffe014;
        --systemYellow-default_IC: #ffd426;
        --systemYellow-vibrant_IC: #ffd426;
        --systemGreen: #32d74b;
        --systemGreen-vibrant: #3ce155;
        --systemGreen-default_IC: #31de4b;
        --systemGreen-vibrant_IC: #31de4b;
        --systemMint: #63e6e2;
        --systemMint-vibrant: #6ce0db;
        --systemMint-default_IC: #63e6e2;
        --systemMint-vibrant_IC: #63e6e2;
        --systemTeal: #6ac4dc;
        --systemTeal-vibrant: #44d4ed;
        --systemTeal-default_IC: #5de6ff;
        --systemTeal-vibrant_IC: #5de6ff;
        --systemCyan: #5ac8f5;
        --systemCyan-vibrant: #5acdfa;
        --systemCyan-default_IC: #70d7ff;
        --systemCyan-vibrant_IC: #70d7ff;
        --systemBlue: #0a84ff;
        --systemBlue-vibrant: #148eff;
        --systemBlue-default_IC: #409cff;
        --systemBlue-vibrant_IC: #409cff;
        --systemBlue-rollover: #47c1ff;
        --systemBlue-pressed: #38b2ff;
        --systemBlue-deepPressed: #47c1ff;
        --systemBlue-disabled: rgba(10,132,255,.5);
        --systemIndigo: #5e5ce6;
        --systemIndigo-vibrant: #6361f2;
        --systemIndigo-default_IC: #7d7aff;
        --systemIndigo-vibrant_IC: #7d7aff;
        --systemPurple: #bf5af2;
        --systemPurple-vibrant: #cc65ff;
        --systemPurple-default_IC: #da8fff;
        --systemPurple-vibrant_IC: #da8fff;
        --systemPink: #ff375f;
        --systemPink-vibrant: #ff4169;
        --systemPink-default_IC: #ff6482;
        --systemPink-vibrant_IC: #ff3a5f;
        --systemBrown: #ac8e68;
        --systemBrown-vibrant: #b69872;
        --systemBrown-default_IC: #b59469;
        --systemBrown-vibrant_IC: #b59469;
        --systemGray: #98989d;
        --systemGray-vibrant: #a2a2a7;
        --systemGray-default_IC: #98989d;
        --systemGray-vibrant_IC: #98989d;
        --systemPrimary: hsla(0,0%,100%,.85);
        --systemPrimary-vibrant: #e5e5e5;
        --systemPrimary-onLight: rgba(0,0,0,.85);
        --systemPrimary-onDark: hsla(0,0%,100%,.85);
        --systemPrimary-default_IC: #fff;
        --systemPrimary-vibrant_IC: #fff;
        --systemPrimary-onLight_IC: #000;
        --systemPrimary-onDark_IC: #fff;
        --systemSecondary: hsla(0,0%,100%,.55);
        --systemSecondary-vibrant: #7c7c7c;
        --systemSecondary-onLight: rgba(0,0,0,.5);
        --systemSecondary-onDark: hsla(0,0%,100%,.55);
        --systemSecondary-default_IC: hsla(0,0%,100%,.7);
        --systemSecondary-vibrant_IC: hsla(0,0%,100%,.7);
        --systemSecondary-onLight_IC: rgba(0,0,0,.76);
        --systemSecondary-onDark_IC: hsla(0,0%,100%,.7);
        --systemTertiary: hsla(0,0%,100%,.25);
        --systemTertiary-vibrant: #414141;
        --systemTertiary-onLight: rgba(0,0,0,.25);
        --systemTertiary-onDark: hsla(0,0%,100%,.25);
        --systemTertiary-default_IC: hsla(0,0%,100%,.5);
        --systemTertiary-vibrant_IC: hsla(0,0%,100%,.5);
        --systemTertiary-onLight_IC: rgba(0,0,0,.56);
        --systemTertiary-onDark_IC: hsla(0,0%,100%,.5);
        --systemQuaternary: hsla(0,0%,100%,.1);
        --systemQuaternary-vibrant: #232323;
        --systemQuaternary-onLight: rgba(0,0,0,.1);
        --systemQuaternary-onDark: hsla(0,0%,100%,.1);
        --systemQuaternary-default_IC: hsla(0,0%,100%,.3);
        --systemQuaternary-vibrant_IC: hsla(0,0%,100%,.3);
        --systemQuaternary-onLight_IC: rgba(0,0,0,.35);
        --systemQuaternary-onDark_IC: hsla(0,0%,100%,.3);
        --systemQuinary: hsla(0,0%,100%,.05);
        --systemQuinary-vibrant: #080808;
        --systemQuinary-onLight: rgba(0,0,0,.05);
        --systemQuinary-onDark: hsla(0,0%,100%,.05);
        --systemQuinary-default_IC: hsla(0,0%,100%,.1);
        --systemQuinary-vibrant_IC: hsla(0,0%,100%,.1);
        --systemQuinary-onLight_IC: rgba(0,0,0,.1);
        --systemQuinary-onDark_IC: hsla(0,0%,100%,.1);
        --systemGray2: #636366;
        --systemGray2-onLight: #aeaeb2;
        --systemGray2-onDark: #636366;
        --systemGray2-default_IC: #7c7c80;
        --systemGray2-onLight_IC: #8e8e93;
        --systemGray2-onDark_IC: #7c7c80;
        --systemGray3: #48484a;
        --systemGray3-onLight: #c7c7cc;
        --systemGray3-onDark: #48484a;
        --systemGray3-default_IC: #545456;
        --systemGray3-onLight_IC: #aeaeb2;
        --systemGray3-onDark_IC: #545456;
        --systemGray4: #3a3a3c;
        --systemGray4-onLight: #d1d1d6;
        --systemGray4-onDark: #3a3a3c;
        --systemGray4-default_IC: #444446;
        --systemGray4-onLight_IC: #bcbcc0;
        --systemGray4-onDark_IC: #444446;
        --systemGray5: #2c2c2e;
        --systemGray5-onLight: #e5e5ea;
        --systemGray5-onDark: #2c2c2e;
        --systemGray5-default_IC: #363638;
        --systemGray5-onLight_IC: #d8d8dc;
        --systemGray5-onDark_IC: #363638;
        --systemGray6: #1c1c1e;
        --systemGray6-onLight: #f2f2f7;
        --systemGray6-onDark: #1c1c1e;
        --systemGray6-default_IC: #242426;
        --systemGray6-onLight_IC: #ebebf0;
        --systemGray6-onDark_IC: #242426;
        --keyColor: #007aff;
        --keyColor-rgb: 0,122,255;
        --keyColor-default_IC: #0040dd;
        --keyColor-default_IC-rgb: 0,64,221;
        --keyColor-rollover: #0045b7;
        --keyColor-rollover-rgb: 0,69,183;
        --keyColor-pressed: #005cd7;
        --keyColor-pressed-rgb: 0,92,215;
        --systemStandardUltrathinMaterialSover: rgba(40,40,40,.4);
        --systemStandardUltrathinMaterialSover-inactive: #282828;
        --systemStandardUltrathinMaterialSover-default_IC: #000;
        --systemStandardUltrathinMaterialSover-inactive_IC: #141414;
        --systemStandardThinMaterialSover: rgba(40,40,40,.5);
        --systemStandardThinMaterialSover-inactive: #282828;
        --systemStandardThinMaterialSover-default_IC: #0a0a0a;
        --systemStandardThinMaterialSover-inactive_IC: #141414;
        --systemStandardMediumMaterialSover: rgba(40,40,40,.6);
        --systemStandardMediumMaterialSover-inactive: #282828;
        --systemStandardMediumMaterialSover-default_IC: #141414;
        --systemStandardMediumMaterialSover-inactive_IC: #141414;
        --systemStandardThickMaterialSover: rgba(40,40,40,.7);
        --systemStandardThickMaterialSover-inactive: #282828;
        --systemStandardThickMaterialSover-default_IC: #1e1e1e;
        --systemStandardThickMaterialSover-inactive_IC: #141414;
        --systemStandardUltrathickMaterialSover: rgba(40,40,40,.8);
        --systemStandardUltrathickMaterialSover-inactive: #282828;
        --systemStandardUltrathickMaterialSover-default_IC: #282828;
        --systemStandardUltrathickMaterialSover-inactive_IC: #141414;
        --systemHeaderMaterialSover: rgba(30,30,30,.8);
        --systemHeaderMaterialSover-default_IC: #1e1e1e;
        --systemToolbarTitlebarMaterialSover: rgba(60,60,60,.8);
        --systemToolbarTitlebarMaterialSover-inactive: #282828;
        --systemToolbarTitlebarMaterialSover-default_IC: #262626;
        --systemToolbarTitlebarMaterialSover-inactive_IC: #141414;
        --labelDivider: hsla(0,0%,100%,.1);
        --vibrantDivider: rgba(235,235,245,.19);
        --pageBG: #1f1f1f;
        --shelfBG: hsla(0,0%,100%,.05);
        --genericJoeColor: #323232;
        --fallbackMaterialBG: rgba(31,31,31,.97);
        --liveBadgePlatterBG: #ff5066;
        --cardHoverColor: hsla(240,3%,49%,.41);
        --contextMenuBorderColor: hsla(0,0%,100%,.1);
        --contextMenuTextColor: hsla(0,0%,100%,.85);
        --contextMenuOverrideTextColor: #ff3b30;
        --dialogShadowColor: rgba(0,0,0,.55);
        --footerBg: #323232;
        --opaqueShelfBG: #2b2b2b;
        --shelfLockupPlayHover: #aeaeb2;
        --lockupHoverBGColor: rgba(51,51,51,.3);
        --lockupChinScrim: rgba(0,0,0,.2);
        --mobileNavigationBG: #2e2e2e;
        --miniPlayerBackground: rgba(37,37,37,.9);
        --miniPlayerBackground-default_IC: #282828;
        --playerBackgroundFallback: rgba(45,45,45,.97);
        --playerBackgroundFallback-default_IC: #282828;
        --playerBackground: rgba(45,45,45,.88);
        --playerBackground-default_IC: #282828;
        --navSidebarBG: rgba(235,235,245,.03);
        --navSidebarBG-default_IC: #282828;
        --navSidebarSelectedState: rgba(235,235,245,.1);
        --searchBoxIconFill: hsla(0,0%,100%,.9);
        --bannerDarkGray: #444;
        --dropdownBackground: #575757;
        --dropdownLightGray: #707070;
        --dropdownLightGrayIcon: #999;
        --dropdownActiveOutlineColor: #06c;
        --dropdownActiveOutlineColorShadow: rgba(0,102,204,.6);
        --radiosityShadowColor: rgba(0,0,0,.3);
        --searchBarBorderColor: hsla(0,0%,100%,.15);
        --modalScrimColor: rgba(0,0,0,.45);
        --segmentedControlBG: hsla(240,4%,48%,.24);
        --segmentedControlBG-default_IC: hsla(0,0%,100%,.24);
        --segmentedControlSelectedText: hsla(0,0%,100%,.85);
        --segmentedControlSelectedText-default_IC: #000;
        --segmentedControlSelectedBG: #636366;
        --segmentedControlSelectedBG-default_IC: #fff;
        --segmentedControlActiveBG: #747477;
        --segmentedControlActiveBG-default_IC: rgba(255,255,240,.9);
        --segmentedControlSelectedShadow1: transparent;
        --segmentedControlSelectedShadow2: transparent;
        --modalCloseButtonBGColor: #333336;
        --modalCloseButtonBGColor-rollover: #37373a;
        --modalCloseButtonBGColor-pressed: #2f2f32;
        --pageBg: #151515;
        --pageBg-rgb: 21,21,21
    }